@import "fonts";
@import "nullstyle";

/*===========tech================================*/

main {
   overflow-x: hidden;
}
html {
   scroll-behavior: smooth;
}
._lock {
   overflow: hidden;
}
._container {
   max-width: 1190px;
   padding: 0px 15px;
   width: 100%;
   margin: 0 auto;
}

/*===================About-section========================*/

.about-section {
}
.about-section__container {
}
.about-section__body {
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.about-section__top {
   display: flex;
   background: #cedae4;
   gap: 34px;
   padding: 50px;
}
.about-section__top-left {
   max-width: 425px;
}
.about-section__top-left-title {
   font-family: "Roboto Slab", sans-serif;
   font-weight: 700;
   font-size: 36px;

   /* line-height: 48px; */
   line-height: 1.3;
   letter-spacing: -0.03em;
   color: #000;
   margin-bottom: 18px;
}

.about-section__top-left p {
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-size: 16px;

   /* line-height: 23px; */
   line-height: 1.4625;
   color: #5e5e5e;
   padding-bottom: 25px;
   & span {
      font-weight: 700;
   }
}
.about-section__button {
   display: flex;
   align-items: center;
   gap: 8px;
   border: 1px solid rgba(0, 0, 0, 0.05);
   border-radius: 800px;
   padding: 11px 21px;
   width: 150px;
   height: 44px;
   background: #f7f7f7;
   font-family: "Roboto", sans-serif;
   font-weight: 700;
   font-size: 16px;

   /* line-height: 22px; */
   line-height: 1.35;
   color: #007bd8;
}

.about-section__button svg {
   width: 16px;
   height: 16px;
   fill: #007bd8;
   transition: all 0.3s;
}

.about-section__button:hover {
   background: #007bd8;
   color: #fff;
   transition: all 0.3s;
   & svg {
      fill: #fff;
      transition: all 0.3s;
   }
}
.about-section__top-right {
   padding: 7px 0;
}
.about-section__top-right-image {
   position: relative;
   width: 600px;
   height: 337px;
}
.about-section__top-right-image svg {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.about-section__bottom {
   display: flex;
   background: #cedae4;
   gap: 34px;
   padding: 50px;
}
.about-section__bottom-left {
   padding: 7px 0;
}
.about-section__bottom-left-image {
}
.about-section__bottom-right ul {
   padding-left: 20px;
   padding-bottom: 25px;
}
.about-section__bottom-right ul:nth-last-of-type(1){
   padding-top: 30px;
}
.about-section__bottom-right li {
   font-family: Roboto;
   font-weight: 400;
   font-size: 16px;

   /* line-height: 26px; */
   line-height: 1.65;
   color: #5e5e5e;
   list-style-type: disc;
}
.about-section__bottom-right-title {
   font-family: "Roboto Slab", sans-serif;
   font-weight: 700;
   font-size: 36px;

   /* line-height: 48px; */
   line-height: 1.3;
   letter-spacing: -0.03em;
   color: #000;
   margin-bottom: 18px;
}

/*===================About-section========================*/

.about-section {
}
.about-section__container {
}
.about-section__body {
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.about-section__top {
   display: flex;
   background: #cedae4;
   gap: 34px;
   padding: 50px;
   display: grid;
   grid-template-columns: 0.8fr 1.2fr;
}
.about-section__top-left {
}
.about-section__top-left-title {
   font-family: "Roboto Slab", sans-serif;
   font-weight: 700;
   font-size: 36px;

   /* line-height: 48px; */
   line-height: 1.3;
   letter-spacing: -0.03em;
   color: #000;
   margin-bottom: 18px;
}

.about-section__top-left p {
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-size: 16px;

   /* line-height: 23px; */
   line-height: 1.4625;
   color: #5e5e5e;
   padding-bottom: 25px;
   & span {
      font-weight: 700;
   }
}
.about-section__button {
   display: flex;
   align-items: center;
   gap: 8px;
   border: 1px solid rgba(0, 0, 0, 0.05);
   border-radius: 800px;
   padding: 11px 21px;
   width: 150px;
   height: 44px;
   background: #f7f7f7;
   font-family: "Roboto", sans-serif;
   font-weight: 700;
   font-size: 16px;

   /* line-height: 22px; */
   line-height: 1.35;
   color: #007bd8;
}

.about-section__button svg {
   width: 16px;
   height: 16px;
   fill: #007bd8;
   transition: all 0.3s;
}

.about-section__button:hover {
   background: #007bd8;
   color: #fff;
   transition: all 0.3s;
   & svg {
      fill: #fff;
      transition: all 0.3s;
   }
}

.about-section__top-right-image {
   position: relative;
   width: 100%;
   height: 100%;
}
.about-section__top-right-image img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.about-section__bottom {
   display: flex;
   background: #cedae4;
   gap: 34px;
   padding: 50px;
}
.about-section__bottom-left {
   padding: 7px 0;
}
.about-section__bottom-left-image {
}
.about-section__bottom-right ul {
   padding-left: 20px;
   padding-bottom: 25px;
}
.about-section__bottom-right ul:nth-last-of-type(1) {
   padding-top: 30px;
}
.about-section__bottom-right li {
   font-family: Roboto;
   font-weight: 400;
   font-size: 16px;

   /* line-height: 26px; */
   line-height: 1.65;
   color: #5e5e5e;
   list-style-type: disc;
}
.about-section__bottom-right-title {
   font-family: "Roboto Slab", sans-serif;
   font-weight: 700;
   font-size: 36px;

   /* line-height: 48px; */
   line-height: 1.3;
   letter-spacing: -0.03em;
   color: #000;
   margin-bottom: 18px;
}

/*====================Сonsultation-section=======================*/

.consultation-section {
   padding: 104px 0px 124px;
}

.consultation-section__body {
   display: flex;
   justify-content: space-between;
   width: 100%;
   gap: 30px;
}
.consultation-section__left {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100%;
   flex-direction: column;
   gap: 0px;
   padding-left: 50px;
   max-width: 520px;
}
.consultation-section__left h3 {
   font-family: Roboto;
   font-weight: 700;
   font-size: 37px;
   line-height: 1.4;
   letter-spacing: -0.03em;
   text-align: center;
   color: #000;
   margin-bottom: 5px;
   white-space: nowrap;
}

.consultation-section__left p {
   font-family: Roboto;
   font-weight: 400;
   font-size: 16px;
   flex: 1 1 auto;
   line-height: 1.65;
   text-align: center;
   color: #5e5e5e;
   margin-bottom: 38px;
}

.consultation-section__group-button {
   display: flex;
   align-self: center;
   padding: 14px 20px;
   width: 195px;
   height: 42px;
   background: #007bd8;
   border: 1px solid #007bd8;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: Roboto;
   font-weight: 700;
   font-size: 16px;
   border-radius: 800px;
   line-height: 1.35;
   text-align: center;
   color: #fff;
   transition: all 0.3s;
}
.consultation-section__group-button svg {
   width: 16px;
   height: 16px;
   fill: #fff;
   margin-left: 8px;
   transition: all 0.3s;
}
.consultation-section__group-button:hover {
   background: #fff;
   color: #007bd8;
   transition: all 0.3s;
   & svg {
      fill: #007bd8;
      transition: all 0.3s;
   }
}
.consultation-section__right {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100%;
   flex-direction: column;
   gap: 0px;
   padding-left: 50px;
   max-width: 520px;
   color: #5e5e5e;
}

.consultation-section__right h3 {
   font-family: Roboto;
   font-weight: 700;
   font-size: 37px;
   width: 100%;
   line-height: 1.4;
   letter-spacing: -0.03em;
   text-align: center;
   color: #000;
   margin-bottom: 5px;
   white-space: nowrap;
}

.consultation-section__right p {
   font-family: Roboto;
   font-weight: 400;
   font-size: 16px;
   flex: 1 1 auto;
   line-height: 1.65;
   text-align: center;
   margin-bottom: 20px;
}

/*==================Сlaim-section=========================*/

.claim-section {
   padding-bottom: 100px;
}
.claim-section__body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.claim-section__top h2 {
   font-family: Inter, sans-serif;
   font-weight: 800;
   font-size: 52px;
   line-height: 1.34615;
   text-align: center;
   color: #424242;
   margin-bottom: 10px;
}

.claim-section__top p {
   font-family: Inter, sans-serif;
   font-weight: 300;
   font-size: 20px;
   line-height: 1.25;
   text-align: center;
   color: #424242;
   margin-bottom: 32px;
}

.claim-section__form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   max-width: 612px;
}
.claim-section__form input {
   display: flex;
   width: 100%;
   border: 1px solid #e7f9ff;
   border-radius: 10px;
   height: 72px;
   font-weight: 400;
   font-size: 23px;
   line-height: 278%;
   font-family: Inter, sans-serif;
   padding: 0px 20px 0px 40px;
   box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
}
.claim-section__form input::placeholder {
   font-family: Inter, sans-serif;
   font-weight: 400;
   font-size: 23px;
   line-height: 278%;
   color: rgba(0, 0, 0, 0.4);
}
.claim-section__form input.claim-section__submit-button {
   background: #007bd8;
   color: white;
   border-radius: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;
   max-width: 360px;
   height: 60px;
   font-family: Inter, sans-serif;
   font-weight: 400;
   font-size: 20px;
   line-height: 1.55;
   text-align: center;
   color: #fff;
   cursor: pointer;
   border: 1px solid #007bd8;
   box-shadow: none;
   transition: all 0.3s;
}
.claim-section__form input.claim-section__submit-button:hover {
   background: #fff;
   color: #007bd8;
   transition: all 0.3s;
}
.claim-section__form-group {
   display: flex;
   width: 100%;
}
.claim-section__form-group:not(:last-child) {
   margin-bottom: 20px;
}
.claim-section__form-fields-name {
}
.claim-section__form-fields-surname {
}
.claim-section__form-fields-tel {
}
.claim-section__form-fields-mail {
}
.claim-section__submit-button {
}

/*====================Footer=======================*/

.footer {
   background: #06264d;
}
.footer__container {
}
.footer__body {
   display: flex;
   flex-direction: column;
}
.footer__top {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   padding: 50px 0;

   // gap: 37px;


}
.footer__top-left {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}
.footer__main-images {
}
.footer__main-image {
   width: 160px;
   height: 160px;
   position: relative;
   margin-bottom: 25px;
}

.footer__main-image img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.footer__main-logos {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;
   margin-bottom: 25px;
}
.footer__main-logo-facebook,
.footer__main-logo-linkedin,
.footer__main-logo-youtube {
   border-radius: 32px;
   padding: 8px;
   width: 32px;
   height: 32px;
   background: #007bd8;
   cursor: pointer;
   transition: all 0.3s;
}

.footer__main-logo-facebook:hover,
.footer__main-logo-linkedin:hover,
.footer__main-logo-youtube:hover {
   background: #fff;
   color: #007bd8;
   transition: all 0.3s;
   & svg {
      fill: #007bd8;
      transition: all 0.3s;
   }
}

.footer__main-logo-facebook svg,
.footer__main-logo-linkedin svg,
.footer__main-logo-youtube svg {
   width: 16px;
   height: 16px;
   fill: white;
   transition: all 0.3s;
}

.footer__top-center {
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
   gap: 0px;

   padding-left: 30px;

}
.footer__top-center-navigation {
}
.footer__top-center-navigation-menu {
}
.footer__top-center-navigation-menu li {

   padding: 10px 0px;


}
.footer__top-center-navigation-menu a {
   font-family: Roboto;
   font-weight: 400;
   font-size: 16px;
   /* line-height: 21px; */
   line-height: 1.3;
   color: #fff;
}
.footer__top-right {
   padding-left: 44px;
}
.footer__top-right-navigation {
}
.footer__top-right-navigation-menu li {

   padding: 10px 0;



}
.footer__top-right-navigation-menu a {
   font-family: Roboto;
   font-weight: 400;
   font-size: 16px;
   /* line-height: 21px; */
   line-height: 1.3;
   color: #fff;
}
.footer__bottom {
   font-family: Roboto;
   font-weight: 400;
   font-size: 16px;

   /* line-height: 26px; */
   line-height: 1.65;
   text-align: center;
   color: #fff;
   padding-bottom: 25px;
}
