@import "fonts";
@import "nullstyle";

/*===========tech================================*/

._container {
   max-width: 1190px;
   padding: 0px 15px;
   width: 100%;
   margin: 0 auto;
}



/*===========================================*/


